{% extends "base.html" %}

{% block title %}Attendance{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<form method="POST">
    <h2 class="form-title">{% if meeting %}Meetings{% else %}Event{% endif %} Attendance</h2>
    {% for user in inputs %}
    <div class="form-group">
        <label class="container"><label for="{{ user['id'] }}" class="form-label-css">{% if user['nicknameapprove'] %}{{ user['nickname'] }}{% else %}{{ user['firstname'] }} {{ user['lastname'] }}{% endif %}</label>
            {% if user['check'] %}<input id="{{ user['id'] }}" name="{{ user['id'] }}" type="checkbox" checked>{% else %}<input id="{{ user['id'] }}" name="{{ user['id'] }}" type="checkbox">{% endif %}
            <span class="checkmark"></span>
        </label>
    </div>
    {% endfor %}
    <div class="form-group">
        <input id="submit" type="submit" value="Submit"><br>
    </div>
</form>
{% endblock content %}