{% extends "base.html" %}

{% block title %}{% if edit %}Edit{% else %}Create{% endif %} {% if meeting %}Meeting{% else %}Event{% endif %}{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.min.css') }}">
Usage
{% endblock %}

{% block head_js %}
<script src="{{ url_for('static', filename='js/flatpickr.js') }}"></script>
{% endblock %}

{% block content %}
<form method="POST" action="">
    <!-- Part of protecting the site from attacks -->
    {{ form.hidden_tag() }}
    <h2 class="form-title datepicker">{% if edit %}Edit{% else %}Create{% endif %} {% if meeting %}Meeting{% else %}Event{% endif %}</h2>
    {% if edit %}<p>{% if meeting %}<a href="{{ url_for('meetingDelete', meetingId=eventMeeting.id) }}" class="extra-link">{% else %}<a href="{{ url_for('eventDelete', eventId=eventMeeting.id) }}" class="extra-link">{% endif %}Delete this {% if meeting %}meeting{% else %}event{% endif %}</a></p>{% endif %}
    {% if not meeting %}
    <div class="form-group">
    {{ form.name.label(class="form-label-css") }}
    <br>
    {% if form.name.errors %}
        {{ form.name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.name() }}
    {% endif %}
    </div>
    {% endif %}
    <div class="form-group">
    {{ form.description.label(class="form-label-css") }}
    <br>
    {% if form.description.errors %}
        {{ form.description(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.description.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.description(cols='30', rows='10') }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.location.label(class="form-label-css") }}
    <br>
    {% if form.location.errors %}
        {{ form.location(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.location.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.location(cols='30', rows='1') }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.starttime.label(class="form-label-css") }}
    <br>
    {% if form.starttime.errors %}
        {{ form.starttime(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.starttime.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.starttime() }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.endtime.label(class="form-label-css") }}
    <br>
    {% if form.endtime.errors %}
        {{ form.endtime(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.endtime.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.endtime() }}
    {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit() }}
    </div>
</form>
{% endblock content %}

{% block trailing_js %}
<script>
flatpickr("#starttime", {
    enableTime: true,
    dateFormat: "Y-m-d H:i:ss",
});
flatpickr("#endtime", {
    enableTime: true,
    dateFormat: "Y-m-d H:i:ss",
});
</script>
{% endblock %}