{% extends 'base.html' %}

{% block title %}{{ eventMeeting.start.strftime('%-m/%-d/%Y') }}{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/list.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/eventMeeting.css') }}">
{% endblock %}

{% block content %}
<div class="half-grid">
    <div class="column">
        {% if eventMeetingData['meeting'] %}
        <h1>Meeting: {{ eventMeeting.start.strftime('%B %-d, %Y') }}</h1>
        {% else %}
        <h1>{{ eventMeeting.name }}: {{ eventMeeting.start.strftime('%B %-d, %Y') }}</h1>
        {% endif %}
        <h4>Length: {{ eventMeeting.hourcount }} hours</h4>
        <h4>Description: {{ eventMeeting.description }}</h4>
        <h4>Location: {{ eventMeeting.location }}</h4>
    </div>
    <div class="column">
        <div class="lrg"><h4>{{ eventMeetingData['totalHours'] }}</h4></div>
    </div>
    <div class="column">
        <ul class="first-ul hoverable">
            {% if eventMeetingData['future'] %}
            <li><a href="#"><h3>Going</h3></a></li>
            {% else %}
            <li><a href="#"><h3>Attended</h3></a></li>
            {% endif %}
            {% for people in eventMeetingData['users'] %}
            <li>
                <a href="{{ url_for('profile', num=people.namecount, first=people.firstname, last=people.lastname) }}">
                    <p>{% if people.nicknameapprove %}{{ people.nickname}}{% else %}{{ people.firstname }} {{ people.lastname }}{% endif %}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <ul class="second-ul hoverable">
            {% if eventMeetingData['future'] %}
            <li><a href="#"><h3>JYL Resources</h3></a></li>
            <li><a href="#"><p>Help Request</p></a></li>
            <li><a href="#"><p>Upcoming Events</p></a></li>
            <li><a href="#"><p>Upcoming Meetings</p></a></li>
            {% else %}
            <li><a href="#"><h3>Reviews</h3></a></li>
            <li><a href="#"><p>votes</p></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}