{% extends 'base.html' %}

{% block title %}{% if eventMeetingData['meeting'] %}Meeting: {{ eventMeeting.start.strftime('%B %-d, %Y') }}{% else %}{{ eventMeeting.name }}: {{ eventMeeting.start.strftime('%B %-d, %Y') }}{% endif %}{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/list.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<div class="half-grid">
    <div class="column">
        {% if eventMeetingData['meeting'] %}
        <h1 class="name">{% if current_user.leader or current_user.admin %}{% if eventMeetingData['meeting'] %}<a href="{{ url_for('meetingEdit1', meetingId=eventMeeting.id) }}">{% else %}<a href="{{ url_for('eventEdit2', eventId=eventMeeting.id) }}">{% endif %}{% endif %}Meeting: {{ eventMeeting.start.strftime('%B %-d, %Y') }}{% if current_user.leader or current_user.admin %}<i class="far fa-edit"></i></a>{% endif %}</h1>
        {% else %}
        <h1 class="name">{% if current_user.leader or current_user.admin %}{% if eventMeetingData['meeting'] %}<a href="{{ url_for('meetingEdit1', meetingId=eventMeeting.id) }}">{% else %}<a href="{{ url_for('eventEdit2', eventId=eventMeeting.id) }}">{% endif %}{% endif %}{{ eventMeeting.name }}: {{ eventMeeting.start.strftime('%B %-d, %Y') }}{% if current_user.leader or current_user.admin %}<i class="far fa-edit"></i></a>{% endif %}</h1>
        {% endif %}
        <h4 class="description">Description: {% for word in desc %}{% if word.url %}<a href="{{ word.text }}" target="_blank">{% endif %}{% if word.email %}<a href="mailto:{{ word.text }}">{% endif %}{{ word.text }}{% if word.url or word.email %}</a>{% endif %} {% endfor %}</h4>
        <h4 class="location">Location: <a href="https://www.google.com/maps/place/{{ eventMeeting.location.replace(' ', '+') }}" target="_blank">{{ eventMeeting.location }}<i class="fas fa-map-marker-alt"></i></a></h4>
        <h4 class="time">Start: {{ eventMeeting.start.strftime('%-I%-M %p') }}</h4>
        <h4 class="time">End: {{ eventMeeting.end.strftime('%-I%-M %p') }}</h4>
        {% if eventMeetingData['future'] and not current_user.leader %}
        {% if eventMeetingData['meeting'] %}
        {% if areyougoing %}
        <p class="editing"><a href="{{ url_for('meetingNotGoing', idOfMeeting=eventMeeting.id) }}">I'm not going</a></p>
        {% else %}
        <p class="editing"><a href="{{ url_for('meetingGoing', idOfMeeting=eventMeeting.id) }}">I'm going</a></p>
        {% endif %}
        {% else %}
        {% if areyougoing %}
        <p class="editing"><a href="{{ url_for('eventNotGoing', idOfEvent=eventMeeting.id) }}">I'm not going</a></p>
        {% else %}
        <p class="editing"><a href="{{ url_for('eventGoing', idOfEvent=eventMeeting.id) }}">I'm going</a></p>
        {% endif %}
        {% endif %}
        {% endif %}
        {% if current_user.leader or current_user.admin %}
        {% if not eventMeetingData['future'] %}
        <p class="editing">{% if eventMeetingData['meeting'] %}<a href="{{ url_for('meetingAttendance1', idOfMeeting=eventMeeting.id) }}">Meeting{% else %}<a href="{{ url_for('eventAttendance', eventId=eventMeeting.id) }}">Event{% endif %} Attendance<i class="far fa-list-alt"></i></a></p>
        {% endif %}
        {% endif %}
    </div>
    <div class="column">
        <div class="lrg green"><h4>{{ hourcount }} hrs</h4></div>
    </div>
    <div class="column">
        <ul>
            {% if eventMeetingData['future'] %}
            <li class="non-hover"><h2 class="profiletitle">Members Going</h2></li>
            {% else %}
            <li class="non-hover"><h2 class="profiletitle">Members Attended</h2></li>
            {% endif %}
            {% if eventMeetingData['users'] %}
            {% for people in eventMeetingData['users'] %}
            <a href="{{ url_for('profile', num=people.namecount, first=people.firstname, last=people.lastname) }}">
                <li>
                    <p>{% if people.nicknameapprove %}{{ people.nickname}}{% else %}{{ people.firstname }} {{ people.lastname }}{% endif %}</p>
                </li>
            </a>
            {% endfor %}
            {% else %}
            <li class="non-hover"><p>There are currently no members on this list</p></li>
            {% endif %}
        </ul>
    </div>
    <div class="column">
        <ul>
            {% if eventMeetingData['future'] %}
            <li class="non-hover"><h2 class="profiletitle">JYL Resources</h2></li>
            <a href="{{ url_for('helprequest') }}"><li><p>Help Request</p></li></a>
            <a href="{{ url_for('upcomingMeetings') }}"><li><p>Upcoming Meetings</p></li></a>
            <a href="{{ url_for('upcomingEvents') }}"><li><p>Upcoming Events</p></li></a>
            {% else %}
            <li class="non-hover"><h2 class="profiletitle" id="reviews">Reviews</h2></li>
            {% if eventMeetingData['userreview']|length > 0 and eventMeetingData['userReview'] %}
            {% if eventMeetingData['meeting'] %}<a href="{{ url_for('meetingReviewEdit', idOfMeeting=eventMeeting.id) }}">{% else %}<a href="{{ url_for('eventReviewEdit', idOfEvent=eventMeeting.id) }}">{% endif %}
            {% elif eventMeetingData['userAttended'] %}
            {% if eventMeetingData['meeting'] %}<a href="{{ url_for('meetingReview', idOfMeeting=eventMeeting.id) }}">{% else %}<a href="{{ url_for('eventReview', idOfEvent=eventMeeting.id) }}">{% endif %}
            {% endif %}
                {% if eventMeetingData['userreview']|length > 0 and eventMeetingData['userReview'] or eventMeetingData['userAttended'] %}
                <li>
                {% else %}
                <li class="non-hover">
                {% endif %}
                    <span>{{ eventMeeting.upvote }} <i class="fas fa-smile-beam"></i></span>
                    <span>{{ eventMeeting.unsurevote }} <i class="fas fa-meh"></i></span>
                    <span>{{ eventMeeting.downvote }} <i class="fas fa-frown"></i></span>
                </li>
            {% if eventMeetingData['userreview']|length > 0 and eventMeetingData['userReview'] or eventMeetingData['userAttended'] %}
            </a>
            {% endif %}
            {% for i in range(reviewlen) %}
            {% if current_user.id == eventMeetingData['userreview'][i].userid %}
            {% if eventMeetingData['meeting'] %}<a href="#">{% else %}<a href="{{ url_for('eventReviewEdit', idOfEvent=eventMeeting.id) }}">{% endif %}
            {% elif eventMeetingData['userAttended'] %}
            {% if eventMeetingData['meeting'] %}<a href="{{ url_for('meetingReview', idOfMeeting=eventMeeting.id) }}">{% else %}<a href="{{ url_for('eventReview', idOfEvent=eventMeeting.id) }}">{% endif %}
            {% endif %}
                <li class="non-hover">
                    <p>
                    {% if eventMeetingData['userreview'][i].upvote %}
                    <i class="fas fa-smile-beam"></i>
                    {% elif eventMeetingData['userreview'][i].downvote %}
                    <i class="fas fa-frown"></i>
                    {% else %}
                    <i class="fas fa-meh"></i>
                    {% endif %}
                    {% if eventMeetingData['userreviewwho'][i].nicknameapprove %}
                    {{ eventMeetingData['userreviewwho'][i].nickname}}: 
                    {% else %}
                    {{ eventMeetingData['userreviewwho'][i].firstname }} {{ eventMeetingData['userreviewwho'][i].lastname }}: 
                    {% endif %}
                    {{ eventMeetingData['userreview'][i].comment }}
                    {% if current_user.id == eventMeetingData['userreview'][i].userid %}<i class="far fa-edit"></i>{% endif %}
                    </p>
                </li>
            {% if current_user.id == eventMeetingData['userreview'][i].userid or eventMeetingData['userAttended'] %}
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}