<br>
<footer>
    <div class="grid">

        <div class="column">
            <ul>
                <li><h5>Quick Links</h5>
                <li><a href="{{ url_for('login') }}"><p>Login</p></a></li>
                <li><a href="{{ url_for('logout') }}"><p>Logout</p></a></li>
                <li><a href="{{ url_for('reset_request') }}"><p>Reset Password</p></a></li>
            </ul>
        </div>

        <div class="column">
            <ul>
                <li><h5>Forms</h5></li>
                <li><a href="#"><p>Report Bugs</p></a></li>
            </ul>
        </div>

        <div class="column">
            <ul>
                <li><h5>Help</h5></li>
                <li><a href="#"><p>FAQ</p></a></li>
                <li><a href="https://jcyc.org/jyl.htm"><p>JYL page</p></a></li>
            </ul>
        </div>

        <div class="column">
            <ul>
                <li><h5>Policies</h5>
                <li><a href="{{ url_for('license') }}"><p>Project License</p></a></li>
                <li><a href="#"><p>Privacy</p></a></li>
                <li><a href="#"><p>Terms</p></a></li>
            </ul>
        </div>

    </div>

    <h4>© 2020 JCYC (JYL) and Rafael Cenzano. All Rights Reserved.</h4>

</footer>

