{% extends 'base.html' %}

{% block title %}Leader Dashboard{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/list.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<h1 class="name">Leader Dashboard</h1>
<div class="half-grid">
    <div class="column">
        <ul>
            <li class="non-hover"><h2 class="profiletitle">View</h2></li>
            <a href="{{ url_for('meetingData') }}">
                <li>
                    <h4>Meetings</h4>
                </li>
            </a>
            <a href="{{ url_for('eventData') }}">
                <li>
                    <h4>Events</h4>
                </li>
            </a>
            {% if current_user.leader %}
            <a href="{{ url_for('memberData') }}">
                <li>
                    <h4>Users</h4>
                </li>
            </a>
            {% endif %}
        </ul>
    </div>
    <div class="column">
        <ul>
            <li class="non-hover"><h2 class="profiletitle">Attendance</h2></li>
            <a href="{{ url_for('attendanceMeetingList') }}">
                <li>
                    <h4>Meeting Attendance</h4>
                </li>
            </a>
            <a href="{{ url_for('attendanceEventList') }}">
                <li>
                    <h4>Event Attenadance</h4>
                </li>
            </a>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li class="non-hover"><h2 class="profiletitle">Create</h2></li>
            <a href="{{ url_for('meetingCreate') }}">
                <li>
                    <h4>New Meeting</h4>
                </li>
            </a>
            <a href="{{ url_for('eventCreation') }}">
                <li>
                    <h4>New Event</h4>
                </li>
            </a>
            <a href="{{ url_for('userCreation') }}">
                <li>
                    <h4>New User</h4>
                </li>
            </a>
        </ul>
    </div>
    <div class="column">
        <ul>
            <li class="non-hover"><h2 class="profiletitle">Edit</h2></li>
            <a href="{{ url_for('meetingEditList') }}">
                <li>
                    <h4>Change Meeting</h4>
                </li>
            </a>
            <a href="{{ url_for('eventEditList') }}">
                <li>
                    <h4>Change Event</h4>
                </li>
            </a>
            {% if current_user.leader %}
            <a href="{{ url_for('userEditList') }}">
                <li>
                    <h4>Change User</h4>
                </li>
            </a>
            {% endif %}
        </ul>
    </div>
    {% if current_user.leader %}
    <div class="column">
        <ul>
            <li class="non-hover"><h2 class="profiletitle">Manage</h2></li>
            <a href="{{ url_for('nicknameList') }}">
                <li>
                    <h4>Manage Nicknames</h4>
                </li>
            </a>
            <a href="{{ url_for('changeYear') }}">
                <li>
                    <h4>Change the Year</h4>
                </li>
            </a>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
