{% extends "base.html" %}

{% block content %}
<form method="POST" action="">
  <!-- Part of protecting the site from attacks -->
  {{ form.hidden_tag() }}
  <fieldset>
    <h2>Log in</h2>
    {{ form.email.label(class="form-label-css") }}
    {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
      <br>
      {{ form.email() }}
    {% endif %}
    {{ form.password.label(class="form-label-css") }}
    {% if form.password.errors %}
        {{ form.password(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
      <br>
        {{ form.password() }}
    {% endif %}
    <p><a href="{{ url_for('reset_request') }}" class="extra-link">Forgot Password?</a></p>
    {{ form.remember() }}
    {{ form.remember.label() }}
    {{ form.submit() }}
  </fieldset>
</form>
{% endblock content %}