{% extends 'base.html' %}

{% block title %}{{ meeting.start.strftime('%-m/%-d/%Y') }}{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/meeting.css') }}">
{% endblock %}

{% block content %}
<div class="half-grid">
    <div class="column">
        <h1>Meeting: {{ meeting.start.strftime('%B %-d, %Y') }}</h1>
        <h4>{{ meeting.description }}</h4>
        <h4>{{ meeting.location }}</h4>
    </div>
    <div class="column">
        <div class="lrg"><h4>{{ meeting.hourcount }}</h4></div>
    </div>
    <div class="column">
    </div>
    <div class="column">
    </div>
</div>
{% endblock %}