{% extends 'base.html' %}

{% block title %}{% if identifier %}{{ indentify }} List{% else %}Member List{% endif %}{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/list.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<h1 class="name">{% if identifier %}{{ indentify }} List{% else %}Member List{% endif %}</h1>
{% if oldthings > 0 %}
<div class="half-grid">
    <div class="column">
{% endif %}
        <ul>
            <li class="non-hover"><h2 class="profiletitle">Current Members</h2></li>
            {% for people in currentMembers %}
            {% if identifier|lower != 'leader' %}
            <a href="{{ url_for('profile', num=people.namecount, first=people.firstname, last=people.lastname) }}">
            {% endif %}
                <li>
                    <h3>{% if people.nicknameapprove %}{{ people.nickname}}{% else %}{{ people.firstname }} {{ people.lastname }}{% endif %}{% if people.leader %} - Leader{% endif %}{% if people.admin %} - Admin{% endif %}</h3>
                </li>
            </a>
            {% endfor %}
        </ul>
{% if oldthings > 0 %}
    </div>
    <div class="column">
        <ul>
            <li class="non-hover"><h2 class="profiletitle">Past Members</h2></li>
            {% if identifier|lower != 'leader' %}
            <a href="{{ url_for('profile', num=people.namecount, first=people.firstname, last=people.lastname) }}">
            {% endif %}
            {% for people in oldMembers %}
                <li>
                    <h4>{% if people.nicknameapprove %}{{ people.nickname}}{% else %}{{ people.firstname }} {{ people.lastname }}{% endif %}{% if people.leader %} - Leader{% endif %}{% if people.admin %} - Admin{% endif %}</h4>
                }
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}
