{% extends 'base.html' %}

{% block title %}Member Edit List{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/list.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<h1 class="name">Member Edit List</h1>
<ul>
    <li class="non-hover"><h2 class="profiletitle">Members</h2></li>
    {% for people in currentMembers %}
    <a href="{{ url_for('userEdit', userId=people.id) }}">
        <li>
            <h3>{{ people.firstname }} {{ people.lastname }}</h3>
        </li>
    </a>
    {% endfor %}
</ul>
{% endblock %}