<div class="sidebar">
    <div class="column">
        <a href="{{ url_for('index') }}"><i class="fas fa-home home"></i></a>
        <a href="{{ url_for('back') }}">Back <i class="fas fa-arrow-left"></i></a>
        {% if current_user.is_authenticated %}
        {% if current_user.nicknameapprove %}
        <a href="{{ url_for('profile', num=current_user.namecount, first=current_user.firstname, last=current_user.lastname) }}">{{ current_user.nickname }} <i class="fas fa-user-cog nav-icon"></i></a>
        <a href="{{ url_for('logout') }}">Logout <i class="fas fa-sign-out-alt nav-icon"></i></a>
        {% else %}
        <a href="{{ url_for('profile', num=current_user.namecount, first=current_user.firstname, last=current_user.lastname) }}">{{ current_user.firstname }} {{ current_user.lastname }} <i class="fas fa-user-cog nav-icon"></i></a>
        <a href="{{ url_for('logout') }}">Logout <i class="fas fa-sign-out-alt nav-icon"></i></a>
        {% endif %}
        {% else %}
        <a href="{{ url_for('login') }}">Login <i class="fas fa-sign-in-alt nav-icon"></i></a>
        {% endif %}
    </div>
    <div class="column">
        {% if current_user.is_authenticated %}
        <a href="#">Upcoming Meetings <i class="fas fa-calendar-check nav-icon"></i></a>
        <a href="#">Upcoming Events <i class="fas fa-calendar-check nav-icon"></i></a>
        <a href="#">My Meetings <i class="fas fa-calendar-check nav-icon"></i></a>
        <a href="#">My Events <i class="fas fa-calendar-check nav-icon"></i></a>
        <a href="{{ url_for('members') }}">JYL Members <i class="fas fa-user nav-icon"></i></a>
        {% else %}
        <a href="#">Schedule <i class="fas fa-calendar-check nav-icon"></i></a>
        {% endif %}
    </div>
</div>