<!DOCTYPE html>
<html>
<head>
    <style>
    html, body {margin:0px; padding:0px; background-color: #ddd; color: #000;}
    .jyl {text-decoration: none; color: #000;}
    @media (prefers-color-scheme: dark) {
        html, body {margin:0px; padding:0px; background-color: #242424; color: #ddd;}
        .jyl {text-decoration: none; color: #ddd;}
        a {color: #4971de;}
    }
    </style>
</head>
<body>
    <p>Hi,</p>

    <p>A JYL Toolbox has been created for you</p>

    <p>Login here: <a href="#">JYL Toolbox</a></p>

    <p>Use this email and this password: {{ password }}</p>

    <p>For security reasons, you should reset your password since this was a temporary password.</p>

    <p>- <a href="#" class="jyl">JYL Toolbox</a></p>
</body>
</html>