<!DOCTYPE html>
<html>
<head>
    <style>
    html, body {margin:0px; padding:0px; background-color: #ddd; color: #000;}
    .jyl {text-decoration: none; color: #000;}
    @media (prefers-color-scheme: dark) {
        html, body {margin:0px; padding:0px; background-color: #242424; color: #ddd;}
        .jyl {text-decoration: none; color: #ddd;}
    }
    </style>
</head>
<body>
    <p>Hi,</p>

    <p>Somebody (hopefully you!) requested a password reset for a <a href="#" class="jyl">JYL Toolbox</a> account.</p>

    <p><a href="{{ url }}">Your reset link is here</a>. It will expire in 30 minutes.</p>

    <p>- <a href="#" class="jyl">JYL Toolbox</a></p>
</body>
</html>