{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<form method="POST" action="">
    <!-- Part of protecting the site from attacks -->
    {{ form.hidden_tag() }}
    <h2 class="form-title">Request Password Reset</h2>
    <div class="form-group">
    {{ form.email.label(class="form-label-css") }}
    <span id="required" class="required">*required</span>
    <br>
    {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.email() }}
    {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit() }}
    </div>
</form>
{% endblock content %}

{% block trailing_js %}
<script>
let ta = document.getElementById('email');
let required = document.getElementById('required');
ta.addEventListener('input', () => {
  if (countWords(ta.value) > 0){
    required.style.display = 'none';
  }else {
    required.style.display = 'inline-block';
  }
});
</script>
{% endblock %}