{% extends 'base.html' %}

{% block title %}{% if user.nicknameapprove %}{{ user.nickname}}{% else %}{{ user.firstname }} {{ user.lastname }}{% endif %}{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/list.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<div class="half-grid">
    <div class="column">
        {% if user.nicknameapprove %}
        <h1 class="name">{% if current_user.id == user.id or current_user.admin %}<a class="edit" href="#">{% endif %}<span class="underline">{{ user.nickname}}</span>{% if current_user.id == user.id or current_user.admin %} <i class="fas fa-user-edit profile-edit"></i></a>{% endif %}</h1>
        <h3 class="subname">{{ user.firstname }} {{ user.lastname }}</h3>
        {% else %}
        <h1 class="name">{% if current_user.id == user.id or current_user.admin %}<a class="edit" href="#">{% endif %}<span class="underline">{{ user.firstname }} {{ user.lastname }}</span>{% if current_user.id == user.id or current_user.admin %} <i class="fas fa-user-edit profile-edit"></i></a>{% endif %}</h1>
        {% endif %}
        {% if user.admin %}
        <p class="tag admin">Admin</p>
        {% endif %}
        {% if user.leader %}
        <p class="tag leader">Leader</p>
        {% endif %}
    </div>
    <div class="column">
        <div class="hours lrg"><h4>{{ user.hours }}</h4></div>
        <h4 class="desc">Total Hours</h4>
    </div>
    <div class="column">
        <div class="hours sml"><h4>{{ profileData['meetingHours'] }}</h4></div>
        <ul>
            <li><a href="#"><h2 class="profiletitle" id="meetings">Meetings</h2></a></li>
            {% if profileData['meetingsPresent'] %}
            {% for recentMeetings in profileData['recentMeetingsAttended'] %}
            <li>
                <a href="{{ url_for('meetingInfo', idOfMeeting=recentMeetings.id) }}">
                    <h4>{{ recentMeetings.start.strftime('%B %-d, %Y') }}</h4>
                    <p>{{ recentMeetings.description }}</p>
                </a>
            </li>
            {% endfor %}
            {% else %}
            <li>
                <a href="#meetings">
                    <h4>{% if user.nicknameapprove %}{{ user.nickname}}{% else %}{{ user.firstname }} {{ user.lastname }}{% endif %} hasn't attended any meetings yet</h4>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="column">
        <div class="hours sml"><h4>{{ profileData['eventHours'] }}</h4></div>
        <ul>
            <li><a href="#"><h2 class="profiletitle" id="events">Events</h2></a></li>
            {% if profileData['eventsPresent'] %}
            {% for recentEvents in profileData['recentEventsAttended'] %}
            <li>
                <a href="{{ url_for('eventInfo', idOfEvent=recentEvents.id) }}">
                    <h4>{{ recentEvents.start.strftime('%B %-d, %Y') }}, {{ recentEvents.name }}</h4>
                    <p>{{ recentEvents.description }}</p>
                </a>
            </li>
            {% endfor %}
            {% else %}
            <li>
                <a href="#events">
                    <h4>{% if user.nicknameapprove %}{{ user.nickname}}{% else %}{{ user.firstname }} {{ user.lastname }}{% endif %} hasn't attended any events yet</h4>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

{% block trailing_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}