{% extends "base.html" %}

{% block title %}Create User{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<form method="POST" action="" autocomplete="off">
    <!-- Part of protecting the site from attacks -->
    {{ form.hidden_tag() }}
    <h2 class="form-title">Create User</h2>
    <div class="form-group">
    {{ form.first.label(class="form-label-css") }}
    <span id="required" class="required">*required</span>
    <br>
    {% if form.first.errors %}
        {{ form.first(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.first.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.first() }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.last.label(class="form-label-css") }}
    <span id="required0" class="required">*required</span>
    <br>
    {% if form.last.errors %}
        {{ form.last(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.last.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.last() }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.email.label(class="form-label-css") }}
    <span id="required1" class="required">*required</span>
    <br>
    {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.email() }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.school.label(class="form-label-css") }}
    <span id="required2" class="required">*required</span>
    <br>
    {% if form.school.errors %}
        {{ form.school(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.school.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.school() }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.grade.label(class="form-label-css") }}
    <span id="required3" class="required">*required</span>
    <br>
    {% if form.grade.errors %}
        {{ form.grade(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.grade.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.grade() }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.address.label(class="form-label-css") }}
    <span id="required4" class="required">*required</span>
    <br>
    {% if form.address.errors %}
        {{ form.address(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.address.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.address(rows='2') }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.phone.label(class="form-label-css") }}
    <br>
    {% if form.phone.errors %}
        {{ form.phone(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.phone.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.phone() }}
    {% endif %}
    </div>
    <div class="form-group">
    {% if form.leader.errors %}
        {{ form.leader(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.leader.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.leader.label(class="form-label-css-checkbox") }}
            {{ form.leader() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <div class="form-group">
    {% if form.admin.errors %}
        {{ form.admin(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.admin.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.admin.label(class="form-label-css-checkbox") }}
            {{ form.admin() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit() }}
    </div>
</form>
{% endblock content %}

{% block trailing_js %}
<script type="text/javascript">
jsRequired(document.getElementById('first'), document.getElementById('required'));
jsRequired(document.getElementById('last'), document.getElementById('required0'));
jsRequired(document.getElementById('email'), document.getElementById('required1'));
jsRequired(document.getElementById('school'), document.getElementById('required2'));
jsRequired(document.getElementById('grade'), document.getElementById('required3'));
jsRequired(document.getElementById('address'), document.getElementById('required4'));
</script>
{% endblock %}