{% extends "base.html" %}

{% block title %}{{ type }}{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<form method="POST" action="">
    <!-- Part of protecting the site from attacks -->
    {{ form.hidden_tag() }}
    <h2 class="form-title">{{ type }}</h2>
    <div class="form-group">
    {{ form.text.label(class="form-label-css") }}
    <span id="required" class="required">*required</span>
    <br>
    {% if form.text.errors %}
        {{ form.text(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.text.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.text(rows='10') }}
    {% endif %}
    </div>
    <span id="wordCount"></span>
    <div class="form-group">
        {{ form.submit() }}
    </div>
</form>
{% endblock content %}

{% block trailing_js %}
<script type="text/javascript">
jsRequired(document.getElementById('text'), document.getElementById('required'));
jsTextArea(document.getElementById('text'), document.getElementById('wordCount'), '500');
</script>
{% endblock %}