{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<form method="POST" action="" autocomplete="off">
    <!-- Part of protecting the site from attacks -->
    {{ form.hidden_tag() }}
    <h2 class="form-title">Settings</h2>
    <p><a href="{{ url_for('userNicknameRequest', num=user.namecount, first=user.firstname, last=user.lastname) }}" class="extra-link">Request Nickname</a></p>
    <div class="form-group">
    {{ form.bio.label(class="form-label-css") }}
    <span id="required" class="required">*required</span>
    <br>
    {% if form.bio.errors %}
        {{ form.bio(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.bio.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.bio(cols='30', rows='10') }}
    {% endif %}
    </div>
    <span id="wordCount"></span>
    <h3>Privacy</h3>
    <div class="form-group">
    {% if form.showemail.errors %}
        {{ form.showemail(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.showemail.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.showemail.label(class="form-label-css") }}
            {{ form.showemail() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <div class="form-group">
    {% if form.showphone.errors %}
        {{ form.showphone(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.showphone.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.showphone.label(class="form-label-css") }}
            {{ form.showphone() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <h3>Meeting alerts</h3>
    <div class="form-group">
    {% if form.meetingAlertoneday.errors %}
        {{ form.meetingAlertoneday(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.meetingAlertoneday.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.meetingAlertoneday.label(class="form-label-css") }}
            {{ form.meetingAlertoneday() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <div class="form-group">
    {% if form.meetingAlertthreeday.errors %}
        {{ form.meetingAlertthreeday(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.meetingAlertthreeday.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.meetingAlertthreeday.label(class="form-label-css") }}
            {{ form.meetingAlertthreeday() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <div class="form-group">
    {% if form.meetingAlertoneweek.errors %}
        {{ form.meetingAlertoneweek(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.meetingAlertoneweek.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.meetingAlertoneweek.label(class="form-label-css") }}
            {{ form.meetingAlertoneweek() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <h3>Event alerts</h3>
    <div class="form-group">
    {% if form.eventAlertoneday.errors %}
        {{ form.eventAlertoneday(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.eventAlertoneday.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.eventAlertoneday.label(class="form-label-css") }}
            {{ form.eventAlertoneday() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <div class="form-group">
    {% if form.eventAlertthreeday.errors %}
        {{ form.eventAlertthreeday(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.eventAlertthreeday.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.eventAlertthreeday.label(class="form-label-css") }}
            {{ form.eventAlertthreeday() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <div class="form-group">
    {% if form.eventAlertoneweek.errors %}
        {{ form.eventAlertoneweek(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.eventAlertoneweek.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <label class="container">{{ form.eventAlertoneweek.label(class="form-label-css") }}
            {{ form.eventAlertoneweek() }}
            <span class="checkmark"></span>
        </label>
    {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit() }}
    </div>
</form>
{% endblock content %}

{% block trailing_js %}
<script type="text/javascript">
jsRequired(document.getElementById('bio'), document.getElementById('required'));
jsTextArea(document.getElementById('bio'), document.getElementById('wordCount'), '500');
</script>
{% endblock %}