{% extends 'base.html' %}

{% block title %}{% if user.nicknameapprove %}{{ user.nickname}}{% else %}{{ user.firstname }} {{ user.lastname }}{% endif %}{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/list.css') }}">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
<div class="half-grid">
    <div class="column">
        {% if user.nicknameapprove %}
        <h1 class="name">{% if current_user.id == user.id %}<a class="edit" href="{{ url_for('userEdit1', num=user.namecount, first=user.firstname, last=user.lastname) }}">{% elif current_user.leader %}<a class="edit" href="{{ url_for('userEdit', userId=user.id ) }}">{% endif %}<span class="underline">{{ user.nickname}}</span>{% if current_user.id == user.id or current_user.leader %}<i class="fas fa-user-edit profile-edit"></i></a>{% endif %}</h1>
        <h3 class="subname">{{ user.firstname }} {{ user.lastname }}</h3>
        {% else %}
        <h1 class="name">{% if current_user.id == user.id %}<a class="edit" href="{{ url_for('userEdit1', num=user.namecount, first=user.firstname, last=user.lastname) }}">{% elif current_user.leader %}<a class="edit" href="{{ url_for('userEdit', userId=user.id ) }}">{% endif %}<span class="underline">{{ user.firstname }} {{ user.lastname }}</span>{% if current_user.id == user.id or current_user.leader %}<i class="fas fa-user-edit profile-edit"></i></a>{% endif %}</h1>
        {% endif %}
        {% if user.admin %}<p class="tag admin">Admin</p>{% endif %}{% if user.leader %}<p class="tag leader">Leader</p>{% endif %}
        <p>{% if user.grade > 12%}Graduated from {% else %}{{ user.grade }}th grader @ {% endif %}{{ user.school }}</p>
        {% if user.showemail %}<p>{{ user.email }}</p>{% endif %}
        {% if user.showphone and user.numberphone %}<p>({{ user.numberphone[:3] }}){{ user.numberphone[3:6] }}-{{ user.numberphone[6:] }}</p>{% endif %}
        {% if user.bio %}<p>{{ user.bio }}</p>{% endif %}
    </div>
    <div class="column">
        <h4 class="desc">{% if not oldCheck %}Lifetime{% else %}Current{% endif %} {% if event %}Event{% else %}Meeting{% endif %} Hours:</h4>
        {% if oldCheck %}<div class="houts lrg">{% else %}<div class="eventmeeting lrg">{% endif %}<h4>{% if oldCheck %}{{ lifetimeHours }}{% else %}{{ currentHours }}{% endif %} hrs</h4></div>
        {% if oldCheck %}
        <h4 class="desc">Lifetime {% if event %}Event{% else %}Meeting{% endif %} Hours: {{ lifetimeHours }}</h4>
        {% endif %}
    </div>
</div>
{% if goingLen > 0 %}
<div class="half-grid">
    <div class="column">
        <ul>
            <li class="non-hover"><h2 class="profiletitle">Upcoming {% if event %}Events{% else %}Meetings{% endif %}</h2></li>
            {% for eventmeeting in itemsGoing %}
            {% if event %}
            <a href="{{ url_for('eventInfo', idOfEvent=eventmeeting.id) }}">
            {% else %}
            <a href="{{ url_for('meetingInfo', idOfMeeting=eventmeeting.id) }}">
            {% endif %}
                <li>
                    <h4>{% if event %}{{ eventmeeting.name }}{% else %}Meeting{% endif %}: {{ eventmeeting.start.strftime('%B %-d, %Y') }}</h4>
                    <p>{{ eventmeeting.description }}</p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
{% endif %}
        {% if goingLen > 0 %}
        <ul>
        {% else %}
        <div>
        <ul class="centered">
        {% endif %}
            <li class="non-hover"><h2 class="profiletitle" id="events">{% if event %}Event{% else %}Meeting{% endif %}s attended</h2></li>
            {% if attendedLen > 0 %}
            {% for eventmeeting in itemsAttended %}
            {% if event %}
            <a href="{{ url_for('eventInfo', idOfEvent=eventmeeting.id) }}">
            {% else %}
            <a href="{{ url_for('meetingInfo', idOfMeeting=eventmeeting.id) }}">
            {% endif %}
                <li>
                    <h4>{% if event %}{{ eventmeeting.name }}{% else %}Meeting{% endif %}: {{ eventmeeting.start.strftime('%B %-d, %Y') }}</h4>
                    <p>{{ eventmeeting.description }}</p>
                </li>
            </a>
            {% endfor %}
            {% else %}
            <li class="non-hover">
                {% if oldCheck %}
                <h4>{% if user.nicknameapprove %}{{ user.nickname}}{% else %}{{ user.firstname }} {{ user.lastname }}{% endif %} hasn't attended any {% if event %}event{% else %}meeting{% endif %}s yet</h4>
                {% else %}
                <h4>{% if user.nicknameapprove %}{{ user.nickname}}{% else %}{{ user.firstname }} {{ user.lastname }}{% endif %} doesn't have old {% if event %}event{% else %}meeting{% endif %}s yet</h4>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    {% if goingLen > 0 %}
    </div>
    {% endif %}
</div>
{% if oldCheck %}
<div>
    <div class="buttonwrapper">
        {% if event %}
        <a class="button" href="{{ url_for('profileEventOld', num=user.namecount, first=user.firstname, last=user.lastname) }}">
        {% else %}
        <a class="button" href="{{ url_for('profileMeetingOld', num=user.namecount, first=user.firstname, last=user.lastname) }}">
        {% endif %}
            View Lifetime {% if event %}Event{% else %}Meeting{% endif %}s
        </a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block trailing_js %}
{% if oldCheck %}
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endif %}
{% endblock %}