{% extends "base.html" %}

{% block title %}{{ type }}{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<form method="POST" action="">
    <!-- Part of protecting the site from attacks -->
    {{ form.hidden_tag() }}
    <h2 class="form-title">{{ type }}</h2>
    <div class="form-group">
    {{ form.name.label(class="form-label-css") }}
    <br>
    {{ form.name() }}
    </div>
    <div class="form-group">
    {{ form.email.label(class="form-label-css") }}
    <br>
    {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.email() }}
    {% endif %}
    </div>
    <div class="form-group">
    {{ form.bug.label(class="form-label-css") }}
    <br>
    {% if form.bug.errors %}
        {{ form.bug(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.bug.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.bug() }}
    {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit() }}
    </div>
</form>
{% endblock content %}