html,
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #212121;
}

html.light,
body.light {
    background-color: #fff;
}

@media (max-width:900px) {
    body {
        text-align: center;
    }

}

.center-align {
    text-align: center;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: -2px;
}

@media (min-width:850px) {
    .closebtn:hover {
        color: black;
    }

}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
    grid-template-columns: repeat(4, 25%);
    margin-left: -20px;
}

.half-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
}

@media only screen and (max-width:900px) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        margin-left: -10px;
    }

    .half-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    }

}

@media only screen and (max-width:400px) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
        margin-left: -35px;
    }

}
