/** BASE CSS**/
html,
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #212121;
}

html.light,
body.light {
    background-color: #fff;
}

@media (max-width:900px) {
    body {
        text-align: center;
    }

}

.center-align {
    text-align: center;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: -2px;
}

@media (min-width:850px) {
    .closebtn:hover {
        color: black;
    }

}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
    grid-template-columns: repeat(4, 25%);
    margin-left: -20px;
}

.half-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
}

@media only screen and (max-width:900px) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        margin-left: -10px;
    }

    .half-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    }

}

@media only screen and (max-width:400px) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
        margin-left: -35px;
    }

}

.desc {
    font-size: 14px;
    color: #ddd;
}

.desc.light {
    color: #000;
}

.button,
.button:visited {
    text-decoration: none;
    color: #0bc530;
    background-color: #525252;
    padding: 10px 30px;
    margin: 10px auto;
    border-radius: 15px;
    transition-duration: 0.4s;
    font-size: 25px;
}

.button.light,
.button.light:visited {
    background-color: #c9ced6;
    color: #0c5dc5;
}

@media (min-width:801px) {
    .button:hover,
    .button:visited:hover {
        color: #10ff02;
        background-color: #3a8952;
    }

    .button.light:hover,
    .button.light:visited:hover {
        color: #0070ff;
        background-color: #9fb7e0;
    }

}

@media (max-width:400px) {
    .button,
    .button.light {
        font-size: 15px;
    }

}

.buttonwrapper {
    text-align: center;
    margin: 20px auto;
}

svg {
    height: 1.1em;
    width: 1.1em;
    top: .125em;
    position: relative;
}

svg path,
svg g path {
    fill: currentColor;
}

/** NAVBAR CSS **/
.sidebar {
    top: 0;
    left: 0;
    width: 200px;
    background-color: #525252;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition-duration: 0.4s;
}

.sidebar.light {
    background-color: #c9ced6;
}

.sidebar a,
.sidebar a:visited {
    display: block;
    color: #0bc530;
    padding: 16px;
    text-decoration: none;
    text-align: left;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.sidebar.light a,
.sidebar.light a:visited {
    color: #0c5dc5;
}

@media (min-width:900px) {
    .sidebar a:hover,
    .sidebar a:visited:hover {
        background-color: #00ff4c52;
        color: #10ff02;
    }

    .sidebar.light a:hover,
    .sidebar.light a:visited:hover {
        background-color: #0064ff38;
        color: #0070ff;
    }

    #mobileMenu {
        display: none;
    }

}

#content {
    margin-left: 200px;
}

@media (min-width:601px) {
    #content {
        min-height: 100%;
        padding-bottom: 194px;
    }

}

#content > * {
    margin: 0 10px;
}

* {
    font-weight: 100;
    box-sizing: border-box;
}

#mobileMenuBox {
    display: none;
}

#mobileMenu svg {
    height: inherit;
    width: inherit;
}

#mobileMenu * {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-33%, -33%);
    -webkit-transform: translate(-33%, -33%);
}

@media (max-width:600px) {
    #content {
        padding: 0;
    }

}

@media screen and (max-width:900px) {
    #mobileMenu {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 0;
        left: 200px;
        color: #ddd;
        background-color: #525252;
        border-radius-top-right: 10px;
        border-radius-bottom-right: 10px;
        -webkit-animation-name: unhideGlide2;
        animation-name: unhideGlide2;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 999;
    }

    #mobileMenu.light {
        background-color: #c9ced6;
        color: #000;
    }

    .sidebar {
        -webkit-animation-name: unhideGlide;
        animation-name: unhideGlide;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 999;
    }

    #content {
        -webkit-animation-name: zoomFit;
        animation-name: zoomFit;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        margin: 0;
    }

    #mobileMenuBox:checked + #mobileMenu + .sidebar {
        -webkit-animation-name: hideGlide;
        animation-name: hideGlide;
    }

    #mobileMenuBox:checked + #mobileMenu {
        -webkit-animation-name: hideGlide2;
        animation-name: hideGlide2;
    }

    #content {
        -webkit-animation-name: none;
        animation-name: none;
    }

    .sidebar {
        -webkit-animation-name: hideGlide;
        animation-name: hideGlide;
        -webkit-animation-duration: 0s;
        animation-duration: 0s;
    }

    #mobileMenu {
        -webkit-animation-name: hideGlide2;
        animation-name: hideGlide2;
        -webkit-animation-duration: 0s;
        animation-duration: 0s;
    }

    #mobileMenuBox:checked + #mobileMenu + .sidebar {
        -webkit-animation-name: unhideGlide;
        animation-name: unhideGlide;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }

    #mobileMenuBox:checked + #mobileMenu {
        -webkit-animation-name: unhideGlide2;
        animation-name: unhideGlide2;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #CDCDCD;
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

@-webkit-keyframes unhideGlide {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }

}

@keyframes unhideGlide {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }

}

@-webkit-keyframes unhideGlide2 {
    from {
        left: 0;
    }

    to {
        left: 200px;
    }

}

@keyframes unhideGlide2 {
    from {
        left: 0;
    }

    to {
        left: 200px;
    }

}

@-webkit-keyframes zoomFit {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 200px;
    }

}

@keyframes zoomFit {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 200px;
    }

}

@-webkit-keyframes hideGlide {
    from {
        left: 0;
    }

    to {
        left: -200px;
    }

}

@keyframes hideGlide {
    from {
        left: 0;
    }

    to {
        left: -200px;
    }

}

@-webkit-keyframes hideGlide2 {
    from {
        left: 200px;
    }

    to {
        left: 0;
    }

}

@keyframes hideGlide2 {
    from {
        left: 200px;
    }

    to {
        left: 0;
    }

}

/**FOOTER**/
footer {
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    background-color: #525252;
    transition-duration: 0.4s;
}

footer * {
    transition-duration: 0.4s;
}

footer .column {
    margin: 20px 0;
}

footer.light,
footer.light ul {
    background-color: #c9ced6;
}

footer h4,
footer h5,
footer h6 {
    color: #c1c1c1;
}

footer h4 {
    margin: 4px auto 5px auto;
    padding-bottom: 0;
    max-width: 85%;
}

footer h5 {
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: -5px;
    text-decoration: underline;
}

footer h6 {
    margin-top: -6px;
    margin-bottom: 3px;
}

footer.light h4,
footer.light h5,
footer.light h6 {
    color: #000;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: #0bc530;
    margin: auto;
}

footer.light a,
footer.light a:visited {
    color: #0c5dc5;
}

#quickLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#quickLinks .column > ul {
    padding: 0;
    transition-duration: 0.4s;
}

@media (min-width:601px) {
    footer {
        margin-top: -194px;
    }

    #quickLinks > .column {
        min-width: 25%;
    }

}

@media (max-width:600px) {
    footer {
        margin-top: 15px;
        width: 100%;
    }

    #quickLinks > .column {
        width: 90%;
    }

    #quickLinks {
        align-items: center;
        flex-direction: column;
    }

}

@media (min-width:850px) {
    footer a:hover,
    footer a:visited:hover {
        text-decoration: none;
        color: #10ff02;
    }

    footer.light a:hover,
    footer.light a:visited:hover {
        color: #0088ff;
    }

}

@media (min-width:900px) {
    footer {
        margin-left: 200px;
    }

    .spacing {
        padding-left: 10px;
    }

}
