footer {
    padding: 10px 0;
    text-align: center;
    background-color: #c9ced6;
}

@media only screen and (max-width:900px) {
    footer {
        margin-top: 15px;
    }

}

footer h4 {
    margin-top: 4px;
    padding-bottom: 0;
}

footer h5 {
    color: #000;
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: -5px;
    text-decoration: underline;
}

footer h6 {
    margin-top: -6px;
}

@media only screen and (max-width:750px) {
    footer h3 {
        margin-bottom: -3px;
    }

}

footer a,
footer a:visited {
    text-decoration: none;
    color: #001f51;
    margin: auto;
    transition-duration: 0.5s;
}

@media (min-width:850px) {
    footer a:hover,
    footer a:visited:hover {
        text-decoration: none;
        color: #00b6ff;
    }

}

#quickLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 600px){
    #quickLinks {
        align-items: center
        flex-direction: column;
    }
}