footer {
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    background-color: #525252;
    transition-duration: 0.4s;
}

footer * {
    transition-duration: 0.4s;
}

footer ul {
    background-color: #525252;
}

footer.light,
footer.light ul {
    background-color: #c9ced6;
}

footer h4,
footer h5,
footer h6 {
    color: #c1c1c1;
}

footer h4 {
    margin: 4px auto 5px auto;
    padding-bottom: 0;
    max-width: 85%;
}

footer h5 {
    font-size: 25px;
    margin-top: -5px;
    margin-bottom: -5px;
    text-decoration: underline;
}

footer h6 {
    margin-top: -6px;
    margin-bottom: 3px;
}

footer.light h4,
footer.light h5,
footer.light h6 {
    color: #000;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: #0bc530;
    margin: auto;
}

footer.light a,
footer.light a:visited {
    color: #0c5dc5;
}

#quickLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#quickLinks .column > ul {
    padding: 0;
    transition-duration: 0.4s;
}

@media (min-width:601px){
    footer {
        margin-top: -178px;
    }

    #quickLinks > .column {
        min-width: 25%;
    }
}
@media (max-width:600px){
    footer {
        margin-top: 15px;
        width: 100%;
    }

    #quickLinks > .column {
        width: 90%;
    }

    #quickLinks {
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width:850px) {
    footer a:hover,
    footer a:visited:hover {
        text-decoration: none;
        color: #10ff02;
    }

    footer.light a:hover,
    footer.light a:visited:hover {
        color: #0088ff;
    }

}

@media (min-width:900px) {
    footer {
        margin-left: 200px;
    }

    .spacing {
        padding-left: 10px;
    }

}
