.form-label-css,
.form-label-css-checkbox,
form h3 {
    font-size: 25px;
    padding-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #ddd;
}

.form-label-css.light,
.form-label-css-checkbox.light,
form.light h3 {
    color: #000;
}

.form-label-css-checkbox {
    font-size: 20px;
}

#submit {
    background-color: rgb(176, 255, 176);
    border: none;
    color: rgb(20, 25, 20);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0 0 0;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#wordCount,
.text,
.form-group input,
.form-group textarea {
    color: #ddd;
}

#wordCount.light,
.text.light,
.form-group.light input,
.form-group.light textarea {
    color: #000;
}

.extra-link,
.extra-link:visited {
    text-decoration: none;
    color: #afafaf;
    transition-duration: 0.4s;
}

.extra-link.light,
.extra-link.light:visited {
    color: #51565e;
}

@media (min-width:900px) {
    .extra-link:hover,
    .extra-link:visited:hover {
        text-decoration: none;
        color: #10ff02;
    }

    .extra-link.light:hover,
    .extra-link.light:visited:hover {
        text-decoration: none;
        color: #0070ff;
    }

    #submit:hover {
        background-color: rgb(0, 255, 0);
    }

    .date {
        margin-top: -20px;
    }

}

@media (max-width:900px) {
    #submit {
        background-color: rgb(0, 255, 0);
    }

    form {
        display: inline-block;
    }

}

.form-group input {
    font-size: 16px;
    background-color: #616161;
}

.form-group.light input {
    background-color: #fff;
}

.form-group {
    margin: 10px 0;
}

.form-title {
    margin: 0 30px 0 0;
    font-size: 50px;
    color: #d0d0d0;
}

.form-title.light {
    color: rgb(30, 30, 30);
}

@media (max-width:900px) {
    .form-title {
        margin: 7px auto 30px auto;
    }

}

.invalid-feedback {
    color: rgb(227, 14, 14);
}

/* Customize the label (the container) */
.container {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container.form-label-css {
    cursor: pointer;
    font-size: 20px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dedede;
}

.checkmark.light {
    background-color: #cecece;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #bdbdbd;
}

.container.light:hover input ~ .checkmark.light {
    background-color: #9c9c9c;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark,
.container.light input:checked ~ .checkmark.light {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* The container */
.container0 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container0 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */
/*.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dedede;
    border-radius: 50%;
}*/

/* On mouse-over, add a grey background color */
/*.container0:hover input ~ .radio {
    background-color: #bdbdbd;
}*/

/* When the radio button is checked, add a blue background */
/*.container0 input:checked ~ .radio {
    background-color: #2196F3;
}*/

/* Create the indicator (the dot/circle - hidden when not checked) */
/*.radio:after {
    content: "";
    position: absolute;
    display: none;
}*/

/* Show the indicator (dot/circle) when checked */
/*.container0 input:checked ~ .radio:after {
    display: block;
}*/

/* Style the indicator (dot/circle) */
/*.container0 .radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
*/

.form-group textarea {
    outline: none;
    resize: none;
    overflow: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 350px;
    background-color: #616161;
}

.form-group.light textarea {
    background-color: #fff;
}

form {
    max-width: 95%;
}

.fa-smile-beam {
    color: #20990f;
}

.fa-meh {
    color: #6e6e6e;
}

.fa-frown {
    color: #a61414;
}

.required {
    margin-left: -8px;
    color: #ff2e2e;
}

.required.light {
    color: #a83232;
}

/*Reactions*/
@media (max-width:900px){
    .reactions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.reactions label {
    padding: 0;
    font-size: 5rem;
}

@media (min-width: 900px){
    .reactions *:hover, input[type='radio']:checked + label{
        background-color: #ddd;
    }
}

.reactions input[type='radio'] {
    display: none;
}

/*Details*/
#details {
    padding: 20px;
}

#piChart,
#piChart * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
