.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
    grid-template-columns: repeat(4, 25%);
    margin-left: -20px;
}

.half-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
}


@media only screen and (max-width:900px) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        margin-left: -10px;
    }
    .half-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    }

}

@media only screen and (max-width:400px) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
        margin-left: -35px;
    }
}