.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
    grid-template-columns: repeat(4, 25%);
    grid-column-gap: 10px;
    margin-left: -40px;
}

.half-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
}


@media only screen and (max-width:900px) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 5px;
        margin-left: -10px;
    }
    .half-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 3px;
    }

}

@media only screen and (max-width:400px) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
        margin-left: -5px;
    }
}