html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

canvas {
    display: block;
    vertical-align: bottom;
}

.title {
    font-size: 30px;
    padding-top: 60px;
    color: #ddd;
}

.title.light {
    color: #191919;
}

/* FADE IN CSS */
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* ---- css to float the title ----*/
.float-up {
    position: relative;    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: float-up;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: both;    /* Standard syntax */
    animation-name: float-up;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: both;    /* IE 9 */
    -ms-transform-name: float-up;
    -ms-transform-duration: 5s;
    -ms-transform-delay: 1s;
    -ms-transform-fill-mode: both;
    text-align: center;
    margin: auto;
}

.float-up-subtitle {
    position: relative;    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: float-up;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: both;    /* Standard syntax */
    animation-name: float-up;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: both;    /* IE 9 */
    -ms-transform-name: float-up;
    -ms-transform-duration: 5s;
    -ms-transform-delay: 2s;
    -ms-transform-fill-mode: both;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes float-up {
    0% {
        top: 0px;
        opacity: 0;
    }

    100% {
        top: -50px;
        opacity: 1;
    }

}

/* Standard */
@keyframes float-up {
    0% {
        top: 0px;
        opacity: 0;
    }

    100% {
        top: -50px;
        opacity: 1;
    }

}

.homewrapper {
    margin: 20px auto;
    padding: 10px;
    background-color: #83868a;
    color: #ddd;
    width: 70%;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.homewrapper.light {
    color: #000;
    background-color: #b4b8bd;
}

.homewrapper p {
    text-align: center;
    max-width: 85%;
    color: #ddd;
    margin: 15px auto;
    transition-duration: 0.4s;
}

.homewrapper.light p {
    color: #000;
}

path {
    display: block;
    margin: 10px auto;
    width: 90%;
    max-width: 350px;
    fill: #fff;
    transition-duration: 0.4s;
}

path.light {
    fill: #000;
}

.homewrapper a,
.homewrapper a:visited {
    color: #0bc530;
    transition-duration: 0.4s;
}

.homewrapper.light a,
.homewrapper.light a:visited {
    color: #0c5dc5;
}

@media (min-width:900px) {
    .homewrapper a:hover,
    .homewrapper a:visited:hover {
        color: #10ff02;
    }

    .homewrapper.light a:hover,
    .homewrapper.light a:visited:hover {
        color: #0070ff;
    }
}

@media (max-width: 900px){
    .homewrapper {
        width: 90%;
    }
}
