ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    list-style-type: none;
    width: 80%;
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

li,
li:visited {
    background: #7db6f0;
    border-bottom: 1px solid #ddd;
    border-right: 5px solid #348feb;
    border-left: 5px solid #348feb;
    padding: 10px;
    overflow: auto;
    transition-duration: 0.4s;
}

@media (min-width:900px) {
    li:hover,
    li:visited:hover {
        background: #7dd5f0;
        border-right: 5px solid #34d6eb;
        border-left: 5px solid #34d6eb;
    }

    .non-hover,
    .non-hover:hover,
    .non-hover:visited,
    .non-hover:visited:hover {
        background: #7db6f0;
        border-bottom: 1px solid #ddd;
        border-right: 5px solid #348feb;
        border-left: 5px solid #348feb;
    }

}

li p,
li h4,
li h3,
li a,
li a:visited {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

ul a,
ul a:visited {
    text-decoration: none;
}

li h2 {
    font-size: 40px;
    margin-bottom: -8px;
    margin: auto;
    color: #fff;
    transition-duration: 0.4s;
}

li h4 {
    font-size: 24px;
}

li p {
    font-size: 18px;
}

@media (max-width:400px) {
    li h2 {
        font-size: 30px;
    }

    li h4 {
        font-size: 19px;
    }

    li p {
        font-size: 15px;
    }

}

.buttons {
    margin-top: 6px;
}

.accept,
.deny {
    padding: 3px 5px;
    margin: 4px 6px;
    border-radius: 5px;
    color: #fff;
}

.accept {
    background-color: #00f22d;
}

.deny {
    background-color: #fc0505;
}

li span {
    margin: 3px 5px;
    font-size: 25px;
    color: #fff;
}
