ul {
    vertical-align: baseline;
    list-style: none;
    list-style-type: none;
    width: 80%;
    max-width: 550px;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    background-color: #83868a;
    transition-duration: 0.4s;
    padding: 5px 0 10px 0;
}

ul.light {
    background-color: #b4b8bd;
}

.column ul {
    margin: 20px auto;
}

@media (max-width:900px) {
    ul {
        margin: 20px auto;
    }

}

.centered {
    margin: 30px auto;
    max-width: 550px;
}

li,
li:visited {
    background-color: #83868a;
    padding: 10px 3px;
    max-width: 90%;
    margin: auto;
    transition-duration: 0.4s;
    border-radius: 15px;
}

li.light,
li.light:visited {
    background-color: #b4b8bd;
}

@media (min-width:900px) {
    li:hover,
    li:visited:hover {
        background: #a2a2a9;
    }

    li.light:hover,
    li.light:visited:hover {
        background: #dadada;
    }

    .non-hover,
    .non-hover:hover,
    .non-hover:visited,
    .non-hover:visited:hover {
        background: #83868a;
        max-width: 90%;
    }

    .non-hover.light,
    .non-hover.light:hover,
    .non-hover.light:visited,
    .non-hover.light:visited:hover {
        background: #b4b8bd;
    }

}

li p,
li h4,
li h3,
li a,
li a:visited {
    padding: 0;
    text-decoration: none;
    color: #0047b5;
    margin: 0;
}

li.light p,
li.light h4,
li.light h3,
li.light a,
li.light a:visited {
    color: #001F51;
}

ul a,
ul a:visited {
    text-decoration: none;
}

li h2 {
    font-size: 40px;
    margin-bottom: -8px;
    margin: auto;
    color: #0047b5;
}

li.light h2 {
    color: #001F51;
}

li h4 {
    font-size: 24px;
}

li p {
    font-size: 18px;
}

@media (max-width:400px) {
    li h2 {
        font-size: 30px;
    }

    li h4 {
        font-size: 19px;
    }

    li p {
        font-size: 15px;
    }

}

.buttons {
    margin-top: 8px;
}

.accept,
.deny {
    padding: 3px 5px;
    margin: 4px 6px;
    border-radius: 5px;
    color: #ddd;
}

.accept {
    background-color: #03a020;
}

.deny {
    background-color: #b50303;
}

.accept.light {
    background-color: #00bf24;
}

.deny.light {
    background-color: #ff0000;
}

li span {
    margin: 3px 5px;
    font-size: 25px;
    color: #fff;
}
