.sidebar {
    top: 0;
    left: 0;
    width: 200px;
    background-color: #c9ced6;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: #001e40;
    padding: 16px;
    text-decoration: none;
    text-align: left;
}

@media (min-width:900px) {
    .sidebar a:hover:not(.active) {
        background-color: #364a5e;
        color: #aef7fc;
    }

    #mobileMenu {
        display: none;
    }

}

#content {
    margin-left: 200px;
    padding: 0;
    min-height: 100vh;
}

#content > * {
    margin: 0 5px;
}

* {
    box-sizing: border-box;
}

#mobileMenuBox {
    display: none;
}

#mobileMenu * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@media screen and (max-width:900px) {
    #content {
        margin: 0;
        padding: 0;
    }

    #mobileMenu {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 0;
        left: 200px;
        background-color: #C9CED6;
        border-radius-top-right: 10px;
        border-radius-bottom-right: 10px;
        -webkit-animation-name: unhideGlide2;
        animation-name: unhideGlide2;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .sidebar {
        -webkit-animation-name: unhideGlide;
        animation-name: unhideGlide;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 999;
    }

    #content {
        -webkit-animation-name: zoomFit;
        animation-name: zoomFit;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        padding: 0;
    }

    #mobileMenuBox:checked + #mobileMenu + .sidebar {
        -webkit-animation-name: hideGlide;
        animation-name: hideGlide;
    }

    #mobileMenuBox:checked + #mobileMenu {
        -webkit-animation-name: hideGlide2;
        animation-name: hideGlide2;
    }

    #content {
        -webkit-animation-name: none;
        animation-name: none;
    }

    .sidebar a {
        text-align: left;
        padding: 10px 20px;
    }

    .sidebar {
        -webkit-animation-name: hideGlide;
        animation-name: hideGlide;
        -webkit-animation-duration: 0s;
        animation-duration: 0s;
    }

    #mobileMenu {
        -webkit-animation-name: hideGlide2;
        animation-name: hideGlide2;
        -webkit-animation-duration: 0s;
        animation-duration: 0s;
    }

    #mobileMenuBox:checked + #mobileMenu + .sidebar {
        -webkit-animation-name: unhideGlide;
        animation-name: unhideGlide;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }

    #mobileMenuBox:checked + #mobileMenu {
        -webkit-animation-name: unhideGlide2;
        animation-name: unhideGlide2;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #CDCDCD;
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

@keyframes unhideGlide {
    from {
        left: -200px;
    }

    to {
        left: 0;
    }

}

@keyframes unhideGlide2 {
    from {
        left: 0;
    }

    to {
        left: 200px;
    }

}

@keyframes zoomFit {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 200px;
    }

}

@keyframes hideGlide {
    from {
        left: 0;
    }

    to {
        left: -200px;
    }

}

@keyframes hideGlide2 {
    from {
        left: 200px;
    }

    to {
        left: 0;
    }

}