.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #c9ced6;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: #001e40;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

@media (min-width:850px) {
    .sidebar a:hover:not(.active) {
        background-color: #364a5e;
        color: #aef7fc;
    }

}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width:700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 5px;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    .sidebar a {
        text-align: center;
        float: none;
    }

}
