.half-grid .column {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.name {
    margin-top: -5px;
    font-size: 50px;
    color: rgb(30, 30, 30);
}

@media screen and (max-width:1200px) {
    .name {
        margin: auto;
        text-align: center;
    }
}

.subname {
    margin-top: -15px;
    font-size: 25px;
}

.edit,
.edit:visited {
    color: rgb(30, 30, 30);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

@media (min-width:850px) {
    .edit:hover,
    .edit:visited:hover {
        color: rgb(70, 70, 70);
    }

}

.profile-edit {
    font-size: 32px;
}

.sml {
    background: #ddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: auto;
}

.lrg {
    background: #ddd;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 100px;
    margin: auto;
    font-size: 25px;
}

.green,
.eventmeeting {
    background: rgb(0, 255, 0);
}
