.half-grid .column {
    text-align: center;
}

p,
.desc {
    color: #ddd;
}

p.light,
.desc.light {
    color: #000;
}

.tag {
    margin: 16px auto;
    padding: 6px;
    border-radius: 4px;
}

.admin {
    color: #31e011;
}

.leader {
    color: #1122e0;
}

.underline {
    text-decoration: underline;
}

.name {
    font-size: 50px;
    color: #d0d0d0;
}

.name.light {
    color: rgb(30, 30, 30);
}

.name i {
    margin-left: 4px;
}

.subname {
    margin-top: -15px;
    font-size: 25px;
}

.edit,
.edit:visited {
    color: #b1b1b1;
    transition-duration: 0.4s;
}

.edit.light,
.edit.light:visited {
    color: rgb(30, 30, 30);
}

@media (min-width:850px) {
    .edit:hover,
    .edit:visited:hover {
        color: #dcdcdc;
    }

    .edit.light:hover,
    .edit.light:visited:hover {
        color: rgb(70, 70, 70);
    }

}

.profile-edit {
    font-size: 32px;
}

.lrg {
    background: #ddd;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin: auto;
    font-size: 25px;
    color: #222;
}

.green,
.eventmeeting {
    background: rgb(0, 255, 0);
}

.location i {
    margin-left: 4px;
}

.description,
.description a,
.description a:visited,
.location,
.location a,
.location a:visited {
    color: #ddd;
    transition-duration: 0.4s;
}

.description.light,
.description.light a,
.description.light a:visited,
.location.light,
.location.light a,
.location.light a:visited {
    color: rgb(0, 0, 0);
}

@media (min-width:900px) {
    .location a:hover,
    .location a:visited:hover,
    .description a:hover,
    .description a:visited:hover {
        color: #5687ef;
    }

    .location.light a:hover,
    .location.light a:visited:hover,
    .description.light a:hover,
    .description.light a:visited:hover {
        color: rgb(53, 95, 184);
    }

}

.editing a,
.editing a:visited {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: rgb(0, 160, 80);
    transition-duration: 0.4s;
}

.editing a i,
.editing a:visited i {
    margin-left: 4px;
}

@media (min-width:900px) {
    .editing a:hover,
    .editing a:visited:hover {
        background-color: rgb(0, 204, 106);
    }

}

.button,
.button:visited {
    text-decoration: none;
    color: #0bc530;
    background-color: #525252;
    padding: 10px 30px;
    margin: 10px auto;
    border-radius: 15px;
    transition-duration: 0.4s;
    font-size: 25px;
}

.button.light,
.button.light:visited {
    background-color: #c9ced6;
    color: #0c5dc5;
}

@media (max-width: 600px){
    .button:hover,
    .button:visited:hover {
        color: #10ff02;
        background-color: #3a8952;
    }

    .button.light:hover,
    .button.light:visited:hover {
        color: #0070ff;
        background-color: #9fb7e0;
    }
}

